@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    margin: 0;
    padding: 0;
}

.header a.no-underline {
    text-decoration: none;
  }

.custom-btn {
    /* Establece el ancho y alto deseado para los elementos */
    width: 150px;
    height: 65px; /* Ajusta este valor según tus preferencias */
    line-height: 15px;
}

.fondocolor {
    background-color: #22374f;
}

.imagenfondo {
    background-image: url("../../public/images/hexagonal.jpg");
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para oscurecer el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté en la parte superior */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}

.close-popup-button {
    background-color: #f44336; /* Color de fondo rojo */
    color: white; /* Color del texto en blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-height: 80%; /* Altura máxima del popup, ajusta según tus necesidades */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}

/* Estilo adicional según tus preferencias */
.popup h4 {
    margin-top: 0;
}

.popup-mensaje {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Coloca el popup arriba del elemento */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .popup-mensaje {
    visibility: visible;
    opacity: 1;
}

.bg-gradient {
    background: linear-gradient(to bottom, #FFFFFF, #5A67D8);
}


.borde-color{
    background: #0e7490;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.recibo-cambio {
    animation: cambioRecibo 1s ease-in-out;
}

@keyframes cambioRecibo {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(90deg); }
    100% { transform: rotateY(0deg); }
}

.factura-con-saldo-pendiente {
    background-color: #ffcccc; /* Cambia el color de fondo */
}

.factura-con-saldo-pendiente .icono-saldo-pendiente::before {
    content: "\u26A0"; /* Agrega un icono de advertencia */
    color: red;
}
